.example-card {
  width: 300px;
  float:left;
  margin:10px;
  height: 220px;
}

.example-header-image {
  background-image: url('../../../assets/img/product-shop-count/SKUs.jpg');
  background-size: cover;
}