<form class="example-form">
  <mat-input-container class="example-full-width">
    <input mdInput placeholder="bug index" name="index" [(ngModel)]='bug.index'>
  </mat-input-container>

  <mat-input-container class="example-full-width">
    <input mdInput placeholder="bug level" name="level" [(ngModel)]='bug.level'>
  </mat-input-container>

  <mat-input-container class="example-full-width">
    <input mdInput placeholder="bug status" name="status" [(ngModel)]='bug.status'>
  </mat-input-container>

  <mat-input-container class="example-full-width">
    <input mdInput placeholder="bug assignee name" name="assigneeName" [(ngModel)]='bug.assigneeName'>
  </mat-input-container>

  <div class="example-full-width">
    <button mat-raised-button (click)="save(bug)">Submit</button>
    <button mat-raised-button routerLink="/bug">Cancle</button>
  </div>

</form>
