div{
    color:red;
}

#button{
        padding: 10px;
        font-weight: bold;
        border: none;
        font-size: 15px;
        background-color: #0099cc;
        color: #ffffff;
}

.table tr td {
    padding: 10px;
}
.table {
    padding: 5px;
    text-align: center;
}
.mytr {
    background-color: rgba(189,189,189,0.2)
    
}