
<div class="main">
    <mat-input-container>
        <input [(ngModel)]="object.movieName" mdInput placeholder="电影名" value="">
    </mat-input-container>

    <br>
    <mat-input-container>
        <input [(ngModel)]="object.mark" mdInput placeholder="评分" value="">
    </mat-input-container>

    <br>

<mat-input-container>
    <input [(ngModel)]="object.director" mdInput placeholder="导演" value="">
</mat-input-container>
  

    <br>

  <button mat-button routerLink="/movie">取消</button>
  <button mat-button (click)="save()">保存</button>

</div>