.example-card {
    width: 600px;
  }

  .mat-card-subtitle {font-size: 20px;
    font-weight: bold;}

  .mat-card-image{  
    margin: 10px 30px;
    width: 500px;
    height: 500px;
    text-align: center;
  }
  .t45{width: 45%;}
  h3{width: 600px;}
  h3 button{float: right;}
  table{margin-left: 40px;}