.example-card {
    width: 300px;
    float:left;
    margin:10px;
    border-radius: 5px；
  }
  
  .example-header-image {
    background-size: cover;
  }
  .title-avta{
    width: 80px;
    height: 80px;
  }