<md-card class="example-card">
  <md-card-header>
    <div appaccountcard >{{account.event}}</div>
    <md-card-title>{{account.type}}</md-card-title>
    <md-card-subtitle>{{account.date}}</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <p>
      $$$： {{account.cost}}
      备注： {{account.comment}}
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-button routerLink="edit/{{account.event}}">编辑</button>
    <button md-button (click)="delete(account)">删除</button>
  </md-card-actions>
</md-card>

