

<div id = "parent">
  <mat-input-container>
  <input [(ngModel)]="cardobject.name" mdInput placeholder="Name" value="">
</mat-input-container>
<br/>
<mat-input-container>
  <input [(ngModel)]="cardobject.type" mdInput placeholder="Type" value="">
</mat-input-container>
<br/>
<mat-input-container>
  <input type="number" [(ngModel)]="cardobject.cost" mdInput placeholder="Cost" value="">
</mat-input-container>
<br/>
<mat-input-container>
  <input [(ngModel)]="cardobject.vocation" mdInput placeholder="Vocation" value="">
</mat-input-container>
<br/>
<mat-input-container>
  <input [(ngModel)]="cardobject.img" mdInput placeholder="ImageUrl" value="">
</mat-input-container>
<br/>
<img src = {{cardobject.img}} alt = "url错误！！"/><br/>
<button  (click)= save()>save</button>
<button  (click)= back()>cannel</button>
</div>
