<div class="edit-content">
    <mat-input-container>
        <input mdInput placeholder="员工ID" [(ngModel)]="employee.eid">
    </mat-input-container>
    <mat-input-container>
      <input mdInput placeholder="姓名" [(ngModel)]="employee.name">
    </mat-input-container>
    <mat-select placeholder="性别" [(ngModel)]="employee.sex">
      <mat-option [value]="'M'">
        男
      </mat-option>
      <mat-option [value]="'Ｆ'">
        女
      </mat-option>
    </mat-select>
    <br>
    <mat-input-container>
      <input mdInput placeholder="年龄" [(ngModel)]="employee.age">
    </mat-input-container>
    <mat-input-container>
      <input mdInput placeholder="职位" [(ngModel)]="employee.position">
    </mat-input-container>
    <br>
    <mat-card-actions>
      <button mat-button (click)="back()">取消</button>
      <button mat-button (click)="save()">保存</button>
    </mat-card-actions>
</div>
