.example-card {
  background-image: url('../../../assets/img/device/mycard.jpg');
  width: 300px;
  float:left;
  margin:10px;
  border-radius: 40px;
  box-shadow: 0 9px #999; 
}

.example-header-image {
  background-image: url('../../../assets/img/cardpreview/wuyaowang.jpg');
  background-size: cover;
}
