<div style="margin: 20px">
    <div class="title">
        <button appBtnFastMail routerLink="analysis">Analysis</button>
        <button style="float:right; margin-right:20px;" appBtnFastMail [mdMenuTriggerFor]="menu">Sort Menu</button>
        <mat-menu #menu="mdMenu">
            <button mat-menu-item (click)="onAscSortClick()">Asc</button>
            <button mat-menu-item (click)="onDescSortClick()">Desc</button>
            <button mat-menu-item (click)="onRandomSortClick()">Random</button>
        </mat-menu>
        <button style="float:right; margin-right:10px;" routerLink="edit/-1" appBtnFastMail>Add</button>
    </div>
        
    <mat-tab-group style="margin-top:20px;">
        <mat-tab label="Card Version">
            <app-fast-mail-item [good]=good *ngFor="let good of goodList"></app-fast-mail-item>
        </mat-tab>
        <mat-tab label="List Version">
            <table cellpadding="0" cellspacing="0" border="1"><tbody>
                <tr>
                    <th width="15%">name</th>
                    <th width="25%">tel</th>
                    <th width="35%">addr</th>
                    <th width="25%">date</th>
                </tr>
                <tr *ngFor="let good of goodList">
                    <td width="15%">{{good.name}}</td>
                    <td width="25%">{{good.tel}}</td>
                    <td width="35%">{{good.addr}}</td>
                    <td width="25%">{{good.date}}</td>
                </tr>
            </tbody></table>
        </mat-tab>
    </mat-tab-group>
</div>