.btn-margin {
    margin-left: 10px;
}

table {
    width: 100%;
    border: 1px solid black;
    margin-top: 10px;
    text-align: center;
    border-color: rgba(0, 132, 212, 0.5);
    background-color:  rgba(0, 132, 212, 0.1);
}

table th {
    height: 35px;
}

table td {
    height: 35px;
    font-size: 13px;
}