<!-- <mat-toolbar> 
        <div class="example-container">
                
                <div class="button-row">
                  <button mat-button (click)="asc()">正序</button>
                  <button mat-button (click)="desc()">逆序</button>
                  <button mat-button (click)="random()">倒序</button>
                  <button mat-button [title]="'添加'" routerLink="edit/new">添加</button>
                </div>
              </div>
</mat-toolbar> -->

<mat-toolbar color="light">
        <button mat-button [title]="'添加'" routerLink="edit/new">添加</button>
        <button mat-raised-button (click)="asc()">正序</button>
        <button mat-raised-button (click)="desc()">逆序</button>
        <button mat-raised-button (click)="random()">随机</button>
    </mat-toolbar>
    
    




<!-- <div><button (click)="asc()">正序</button>
<button (click)="desc()">逆序</button>
<button (click)="random()">倒序</button>
<button [title]="'添加'" routerLink="edit/new">添加</button>
</div> -->



<!-- <table border="1" width="100%"> -->
    <!-- <tbody><tr>
        <th align="left">品牌</th>
        <th align="left">分类</th>
        <th align="left">功能</th>
        <th align="left">价格</th>
    </tr> -->
    <!-- <tr *ngFor="let Product of list">
        <td width="25%">{{Product.brand}}</td>
        <td width="25%">{{Product.type}}</td>
        <td width="25%">{{Product.function}}</td>
        <td width="25%">{{Product.price}}</td>
    </tr> -->
    <app-product-item [product]="product" *ngFor="let product of products"></app-product-item>
    
   
    <!-- </tbody> -->
<!-- </table> -->