<button mat-raised-button (click)="back()">返回</button>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>部门编号：{{editDepartment.depId}}</mat-card-title>
    <mat-card-subtitle>部门名称：{{editDepartment.name}}</mat-card-subtitle>
    <mat-card-subtitle>员工数量：{{editDepartment.count}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
<mat-input-container>
  <input [(ngModel)]="editDepartment.depId" mdInput placeholder="部门编号" value="">
</mat-input-container>

<mat-input-container>
  <input [(ngModel)]="editDepartment.name" mdInput placeholder="部门名称" value="">
</mat-input-container>
<mat-input-container>
  <input [(ngModel)]="editDepartment.count" mdInput placeholder="员工数量" value="">
</mat-input-container>
<mat-input-container>
  <input mdInput type="date" [(ngModel)]="editDepartment.createDate" placeholder="创建日期">
</mat-input-container>
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button routerLink="/zhangyuDepartment">取消</button>
    <button mat-button (click)="saveDepartment()">保存</button>
  </mat-card-actions>
</mat-card>