<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{book.name}}</mat-card-title>
    <mat-card-subtitle>{{book.author}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/img/examples/shiba2.jpg">
  <mat-card-content>
    <p style="overflow: hidden;text-overflow:ellipsis;white-space: nowrap;">
      简介： {{book.introduce}}
      <!-- 字数： {{book.wordsNum}} -->
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button routerLink="hansheng-edit/{{book.objectId}}">编辑</button>
    <button mat-button (click)="delete(book)">删除</button>
  </mat-card-actions>
</mat-card>