.example-card {
  width: 300px;
  float:left;
  margin:20px;
  background-color: lightblue;
}
p{
  float:left;
}

.example-header-image {
  background-image: url('../../../assets/img/jumei/jumei.jpg');
  background-size: cover;
}