$primary:blue;
$secondary:green;
$warning:yellow;
$error:red;

$important-text:14px;


#first{
        b{
            color:$primary;
        }
        i{
            color:$secondary;
        }
        span{
            font-size:$important-text;
        }
}