<button md-raised-button (click)="back()">返回</button>

<md-card class="example-card">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>用户名：{{object.name}}</md-card-title>
    <md-card-subtitle *ngIf="object.tag">标签：<span style="background:black;color:white;margin-left:5px;padding:3px;" *ngFor="let t of object.tag">{{t}}</span></md-card-subtitle>
    <md-card-subtitle>手机号：{{object.mobile}}</md-card-subtitle>
    <md-card-subtitle>性别：{{object.sex | sexName}}</md-card-subtitle>
  </md-card-header>
  <md-card-content>


<app-edit-tag [(tags)]="object.tag"></app-edit-tag>

<md-input-container>
  <input [(ngModel)]="object.name" mdInput placeholder="姓名" value="">
</md-input-container>

<md-input-container>
  <input [(ngModel)]="object.mobile" mdInput placeholder="手机" value="">
</md-input-container>

<md-select [(ngModel)]="object.sex" placeholder="性别">
  <md-option [value]="'M'">
    男
  </md-option>
  <md-option [value]="'F'">
    女
  </md-option>
</md-select>

<md-input-container>
  <input mdInput type="date" [(ngModel)]="object.birth.iso" mdInput placeholder="生日">
</md-input-container>


<md-input-container>
  <input type="number" [(ngModel)]="object.likeCount" mdInput placeholder="粉丝数">
</md-input-container>

  </md-card-content>
  <md-card-actions>
    <button md-button routerLink="/contact">取消</button>
    <button md-button (click)="save()">保存</button>
  </md-card-actions>
</md-card>