
<mat-toolbar color="light">
    <span>联系人 > {{isNew?"新增":"编辑["+object.name+"]"}}</span>
    <span class="toolbar-spacer"></span>
    <button mat-raised-button (click)="back()">返回</button>

</mat-toolbar>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>用户名：{{object.name}}</mat-card-title>
    <mat-card-subtitle *ngIf="object.tag">标签：<span style="background:black;color:white;margin-left:5px;padding:3px;" *ngFor="let t of object.tag">{{t}}</span></mat-card-subtitle>
    <mat-card-subtitle>手机号：{{object.mobile}}</mat-card-subtitle>
    <mat-card-subtitle>性别：{{object.sex | sexName}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

<app-edit-tag [(tags)]="object.tag"></app-edit-tag>

<mat-input-container>
  <input [(ngModel)]="object.name" mdInput placeholder="姓名" value="">
</mat-input-container>

<mat-input-container>
  <input [(ngModel)]="object.mobile" mdInput placeholder="手机" value="">
</mat-input-container>

<mat-select [(ngModel)]="object.sex" placeholder="性别">
  <mat-option [value]="'M'">
    男
  </mat-option>
  <mat-option [value]="'F'">
    女
  </mat-option>
</mat-select>

<mat-input-container>
  <input mdInput type="date" [(ngModel)]="object.birth" mdInput placeholder="生日">
</mat-input-container>

<mat-input-container>
  <input type="number" [(ngModel)]="object.likeCount" mdInput placeholder="粉丝数">
</mat-input-container>

  </mat-card-content>
  <mat-card-actions>
    <button mat-button routerLink="/contact">取消</button>
    <button mat-button (click)="save()">保存</button>
  </mat-card-actions>
</mat-card>