

<div class="example-container mat-elevation-z8" style="padding:10px">
  <mat-table #table [dataSource]="dataSource" mdSort>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- ID Column -->
    <ng-container cdkColumnDef="Name">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *cdkCellDef="let row"> {{row.name}} </mat-cell>
    </ng-container>
    <ng-container cdkColumnDef="Type">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header> Type </mat-header-cell>
      <mat-cell *cdkCellDef="let row"> {{row.type}} </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="Cost">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header> Cost </mat-header-cell>
      <mat-cell *cdkCellDef="let row"> {{row.cost}} </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="Vocation">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header> Vocation </mat-header-cell>
      <mat-cell *cdkCellDef="let row"> {{row.vocation}} </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="Img">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header> Img </mat-header-cell>
      <mat-cell *cdkCellDef="let row">
        <span mdTooltip="点击查看大图"><img style=" width: 30px;
          height:40px;" src={{row.img}} alt="no image" (click)="openDialogImg(row)"/>
        </span>
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="operator">
      <mat-header-cell *cdkHeaderCellDef > operator </mat-header-cell>
      <mat-cell *cdkCellDef="let row">
          <button mat-button class = 'button' (click)="openDialog(row)" >编辑</button>
          <button mat-button class = 'button1' (click)= del(row)>删除</button>
      </mat-cell>
    </ng-container>

    <mat-header-row id = "header" *cdkHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row  *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>

<button mat-button class = 'button2' (click)="openDialog()">新建</button>
