<table id = "table" border="0.5">
  <tr id = "header">
    <th (click)= sort(0)>Name</th>
    <th (click)= sort(1)>Type</th>
    <th (click)= sort(2)>Cost</th>
    <th (click)= sort(3)>Vocation</th>
    <th >Image</th>
    <th >Manage</th>
  </tr>
  <tr  *ngFor="let card of cards">
      <th>{{card.name}}</th>
      <th>{{card.type}}</th>
      <th>{{card.cost}}</th>
      <th>{{card.vocation}}</th>
      <th><img id = "card-img" src={{card.img}} alt="no image"/> </th>
      <th>
        <button md-button class = 'button'routerLink ="edit/{{card.objectId}}" >编辑</button>
        <button md-button class = 'button1' (click)= del(card)>删除</button>
      </th>
      
  </tr>
</table>
<button md-button class = 'button2' routerLink ="edit/new">新建</button>
