#table{
    width: 100%;
}
#header{
    background-color: rgb(112, 169, 207);
}
#header :hover{
    background-color: #6767E2;
}
#card-img{
    width: 30px;
    height:40px;
}
.button{
    background-color: rgb(112, 169, 207);
}
.button:hover{
    background-color: #6767E2;
}
.button1{
    background-color: #E2679B;
   
}
.button1:hover{
    background-color: rgb(247, 38, 8);
}
.button2{
    background-color: rgb(67, 169, 81);
}
.button2:hover{
    background-color: #32D20E;
}
// #card-img:hover{
//     width: 60px;
//     height:80px;
// }