<div class="items">
  <div class="details">
    <div class="image">
      <img src="./assets/img/goods/{{item.image}}" width="160px" height="160px">
    </div>
    <div class="info">
      <h3 class="name">{{item.name}}</h3>
      <div class="price">价格: {{item.price}}</div>
      <div *ngIf="item.tag" class="tag">标签: <span class="tagDetail" *ngFor="let t of item.tag">{{t}}</span></div>
    </div>
  </div>
  <div class="buttons">
    <button routerLink="edit/{{item.objectId}}" appCommonButton>编辑</button>
    <button (click)="delete(item)" appCommonButton>删除</button>
  </div>
</div>