<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>学生姓名 : {{record.stName}} </mat-card-title>
      <mat-card-title>是否完成 : {{record.isOk | statusFinish:"cn"}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
          课程名 : {{record.courseName}}
      </p>
      <p>

          完成日期 : {{record.date}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="back()">BACK</button>
    </mat-card-actions>
</mat-card>