<div>
  <h1>我的衣帽间</h1>
  <div class="assetContent">

    <nav md-tab-nav-bar>
      <a md-tab-link routerLink="/asset">
                    宝贝列表
                    </a>
      <a md-tab-link active="true">统计分析 </a>
    </nav>

    <md-card>
      <md-card-header>
        <md-card-title>分类占比图表</md-card-title>
      </md-card-header>
      <md-card-content>
        <div class="assetChart" id="percent-chart"></div>
      </md-card-content>
    </md-card>

    <md-card>
      <md-card-header>
        <md-card-title>历年买买买对比</md-card-title>
      </md-card-header>
      <md-card-content>
        <div class="assetChart" id="per-annual-compare"></div>
      </md-card-content>
    </md-card>

    <md-card>
      <md-card-header>
        <md-card-title>历年总消费趋势</md-card-title>
      </md-card-header>
      <md-card-content>
        <div class="assetChart" id="per-annual-total-consum"></div>
      </md-card-content>
    </md-card>

  </div>
</div>