<mat-toolbar class="shadowbar" color="secondary">
  <span>学员管理 > 学员列表 <button mat-raised-button routerLink="/student/analysis">统计分析</button></span>
  <span style="width:10px;"></span>
  <!--<mat-icon class="example-icon">favorite</mat-icon>-->
  <!--<mat-icon class="example-icon">delete</mat-icon>-->
    <!-- <button mat-raised-button routerLink="/student/edit/new">新增学员</button> -->
    <!-- <button mat-raised-button (click)="deleteChecked()">批量删除</button> -->
  <span style="width:10px;"></span>
    
    <mat-form-field>
      <mat-select placeholder="搜索范围" [(ngModel)]="searchType">
        <mat-option value="name">姓名</mat-option>
        <mat-option value="github">Github</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input [(ngModel)]="searchText" matInput placeholder="请输入要搜索的内容">
    </mat-form-field>
    <button style="float:right;" color="light" mat-mini-fab (click)="refresh()"><mat-icon>sync</mat-icon></button>
    <button style="float:right;" color="light" mat-mini-fab (click)="search(searchType,searchText)"><mat-icon>search</mat-icon></button>
    
    <!-- <button (click)="sortByAsccending()">正序</button>
    <button (click)="sortByDesccending()">倒序</button>
    <button (click)="sortByRadom()">随机</button> -->
</mat-toolbar>

<div class="datatable-container">
  <mat-table #table [dataSource]="dataSource" matSort>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef > Name </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="sex">
      <mat-header-cell *matHeaderCellDef > Sex </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.sex | sexName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="github">
      <mat-header-cell *matHeaderCellDef > Project </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.github}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="exam1">
      <mat-header-cell *matHeaderCellDef >Exam1</mat-header-cell>
      <mat-cell *matCellDef="let row" [style.color]="row.exam1>=80?'red':'black'"> {{row.exam1}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="exam2">
      <mat-header-cell *matHeaderCellDef >Exam2</mat-header-cell>
      <mat-cell *matCellDef="let row" [style.color]="row.exam2>=80?'red':'black'"> {{row.exam2}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="exam3">
      <mat-header-cell *matHeaderCellDef >Exam3</mat-header-cell>
      <mat-cell *matCellDef="let row" [style.color]="row.exam3>=80?'red':'black'"> {{row.exam3}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>














<!-- 原生Table示例



<div class="row table-header">
  <div class="col-1">选择 </div>
  <div class="col-2" (click)="sortByAsccending('name')">姓名 </div>
  <div class="col-1" (click)="sortByAsccending('sex')">性别 </div>
  <div class="col-2" (click)="sortByAsccending('github')">github </div>
  <div class="col-1" (click)="sortByDesccending('exam1')">exam1 </div>
  <div class="col-1" (click)="sortByDesccending('exam2')">exam2 </div>
  <div class="col-1" (click)="sortByDesccending('exam3')">exam3 </div>
  <div class="col-2">操作 </div>
</div>
<div class="row table-row" *ngFor="let student of searchResult">
  <app-student-item [student]="student" (studentClick)="selectStudent = $event"></app-student-item>
</div>
<div class="row table-row" *ngFor="let student of students">
  <app-student-item [student]="student" (studentClick)="selectStudent = $event"></app-student-item>
</div>-->
