<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{player.name}}</mat-card-title>
    <mat-card-subtitle>{{player.team}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/img/examples/shiba2.jpg">
  <mat-card-content>
    <p>
      进球数： {{player.goal }}
      助攻数： {{player.assist }}
      参赛时间： {{player.palyerMinutes }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button routerLink="edit/{{player.objectId}}">编辑</button>
    <button mat-button (click)="deletePlayer(player)">删除</button>
  </mat-card-actions>
</mat-card>
