a{
    border-radius: 20px;
    border: none;
    background: #a9c2a1;
    text-decoration: none;
    color: black;
}

.game-item{
    display: inline-block;
    border: 1px solid #78b396;
    border-radius: 0.2em;
    width: calc((100% - 4px) / 4);
    text-align: center; 

    img{
        width: 35%;
        height: 35%;
        border-radius: 50px;
    }
}