<div class="all">
    <button (click)="onClickBack()" appBtnFastMail>Back</button>
    <mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{tmpGood.name}}</mat-card-title>
        <mat-card-subtitle>{{tmpGood.tel}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-input-container>
            <input [(ngModel)]="tmpGood.name" mdInput placeholder="name" value="">
        </mat-input-container>
        <mat-input-container>
            <input [(ngModel)]="tmpGood.tel" mdInput placeholder="tel" value="">
        </mat-input-container>
        <mat-input-container>
            <input [(ngModel)]="tmpGood.addr" mdInput placeholder="addr" value="">
        </mat-input-container>
        <mat-input-container>
            <input mdInput [mdDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="tmpGood.date">
            <button mdSuffix [mdDatepickerToggle]="picker"></button>
        </mat-input-container>
        <mat-datepicker #picker></mat-datepicker>
    </mat-card-content>
    <mat-card-actions>
        <button appBtnFastMail (click)="onClickBack()">Cancel</button>
        <button appBtnFastMail (click)="onClickSave()">Save</button>
    </mat-card-actions>
    </mat-card>
</div>