.example-card {
  width: 30%;
  margin-top:10px;
  }
  
.example-header-image {
background-image: url('../../../assets/img/fastmail/img_user_photo.png');
background-size: cover;
}

.all {
  margin: 20px;
}