.example-form {
    width: 500px;
}
  
.example-full-width {
    width: 100%;
}

div{padding: 40px 150px 0px 40px;width:600px;font-size: 13px;}
md-select{margin-top: 10px;margin-bottom: 10px;}
button {margin-right: 10px;margin-top: 40px;}
