<div class="assetContent">
  <h3>
    <a routerLink="/asset">我的衣帽间</a> > 修改宝贝
    <button mat-raised-button (click)=returnList()>返回</button>
    <!-- <button appAssetButton (click)=returnList()>返回</button>   -->
  </h3>
  <div class="assetFormClass">
    <mat-input-container class="example-full-width">
      <input mdInput placeholder="名称" value="{{obj.name}}" [(ngModel)]="obj.name">
    </mat-input-container>

    <mat-select [(ngModel)]="obj.classification" placeholder="分类">
      <mat-option [value]="'上衣'">
        上衣
      </mat-option>
      <mat-option [value]="'裙装'">
        裙装
      </mat-option>
      <mat-option [value]="'裤装'">
        裤装
      </mat-option>
      <mat-option [value]="'鞋靴'">
        鞋靴
      </mat-option>
      <mat-option [value]="'围巾'">
        围巾
      </mat-option>
      <mat-option [value]="'包包'">
        包包
      </mat-option>
      <mat-option [value]="'未知'">
        未知
      </mat-option>
    </mat-select>

    <mat-input-container class="example-full-width">
      <input mdInput placeholder="品牌" value="{{obj.brand}}" [(ngModel)]="obj.brand">
    </mat-input-container>

    <mat-input-container class="example-full-width">
      <input mdInput type="number" placeholder="价格" value="{{obj.price}}" [(ngModel)]="obj.price">
    </mat-input-container>

    <mat-input-container>
      <input mdInput type="date" [mdDatepicker]="picker" placeholder="入手日期" [(ngModel)]="obj.addTime" value="{{obj.addTime}}">
      <button mdSuffix [mdDatepickerToggle]="picker"></button>
    </mat-input-container>
    <mat-datepicker #picker></mat-datepicker>

    <div>
      <!-- <button appAssetButton (click)=returnList()>取消</button>
  <button appAssetButton (click)=saveAsset()>提交</button> -->
      <button mat-raised-button (click)=returnList()>取消</button>
      <button mat-raised-button (click)=saveAsset()>提交</button>
    </div>

  </div>
</div>