.example-card {
    margin-top:20px;
    width: 80%;
    margin: auto;
    border-radius: 15px;
    margin-bottom: 20px;
    margin-top: 10px;
    
}

button{
  width:40px!important;
  height: 40px;
  border-radius: 20px;
  background-color:#FFC1C1;
  font-size: 15px;
  color: white;
  border: none
}