<div class="header">
<h1><button color="light" mat-mini-fab (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>Cloud Admin</h1>
</div>

<mat-sidenav-container class="sidenav-fab-container">
 
  <mat-sidenav #sidenav mode="side" opened="true">
    <button mat-mini-fab class="example-fab" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="scrolling-nav menu">
    <ul>
        <li *ngFor="let route of getEnableNavitem()" routerLink="{{route.path}}">{{route.data.title}}</li>
    </ul>
    </div>
  </mat-sidenav>

  <button mat-mini-fab class="example-fab" (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <div class="scrolling-content">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>


<div class="footer">
<p>Resize the browser window to see how the content respond to the resizing.</p>
</div>


