
<button md-raised-button (click)="back()">返回</button>

<md-card class="example-card">
  <md-card-header>
  </md-card-header>
  <md-card-content>
    <p>
    <md-input-container>
      <input [(ngModel)]="object.name" mdInput placeholder="商品名称" value="">
    </md-input-container>

    <md-input-container>
      <input [(ngModel)]="object.price" mdInput placeholder="价格" value="">
    </md-input-container>

    <app-edit-tag [(tags)]="object.tag"></app-edit-tag>
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-button routerLink="/goods-shop">取消</button>
    <button md-button (click)="save()">保存</button>
  </md-card-actions>
</md-card>