<button class="button2" (click)="back()">返回</button>

<mat-card class="example-card">
  <mat-card-content>
    <p>
      <mat-input-container>
        <input [(ngModel)]="object.productName" mdInput placeholder="商品名" value="">
      </mat-input-container>

      <mat-input-container>
        <input [(ngModel)]="object.number" mdInput placeholder="商品售出数量" value="">
      </mat-input-container>

      <mat-input-container>
        <input [(ngModel)]="object.prices" mdInput placeholder="商品价格" value="">
      </mat-input-container>
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button class="button2" routerLink="/shoplist">取消</button>
    <button class="button2" (click)="save()">保存</button>
  </mat-card-actions>
</mat-card>