
<button (click)="asc()">按商户名称正序查看</button>
<button (click)="desc()">按商户名称逆序查看</button>
<button (click)="random()">按商户名称随机查看</button>
<br>
<table border="2">
    <tr id="table1">
        <th width="25%" align="center">商家名称</th>
        <th width="25%" align="center">商家电话</th>
        <th width="25%" align="center">商家地址</th>
    </tr>
    <tr *ngFor="let snack of message">
        <td align="center">{{snack.name}}</td>
        <td align="center">{{snack.mobile}}</td>
        <td align="center">{{snack.local}}</td>
        <td align="center"><button routerLink="edit">编辑</button></td>
        </tr>
    
</table>
