

<div class="main">



<h1>最近热门电影</h1>
<div>
        <button (click)="asc()">按评分从低到高</button>
        <button class="button1" (click)="desc()">按评分从高到低</button>
        <button class="button2" (click)="random()">默认</button>
        <button class="button3"  routerLink="manage/new">增加电影</button>       
</div>

<br>

 <!--<div class="movie-item" *ngFor="let movie of movies">
    <img src="./assets/img/movie/{{movie.movieName}}.png" width="400px" height="600px">
    <p class = "movieTitle">{{movie.movieName}}  <span> 导演:{{movie.director}}  </span>   <span class="mark">评分:{{movie.mark}}</span></p>   
</div>-->

<app-movie-item [movie]="movie" *ngFor="let movie of list"></app-movie-item>



</div>
