<h1>{{title}}</h1>

<div style="margin-top:14px;">
<mat-tab-group>
  <mat-tab label="Airline List">
    <button routerLink="edit/new">{{add}}</button>
    <button [title]="'Asc'" (click)="asc()">{{Asc}}</button>
    <button [title]="'Desc'" (click)="desc()">{{Desc}}</button>
    <button [title]="'Random'" (click)="random()">{{Random}}</button>
    <app-airline-item style="display:inherit;" [flightdt]="flight" *ngFor="let flight of airlines"></app-airline-item>
  </mat-tab>
  <mat-tab label="Visit List"><app-airline-visit ></app-airline-visit></mat-tab>
</mat-tab-group>

</div>
