div{
    color:#006564;
}
span{
    color: black
}
button{

    background-color:#006564;
    color: #ffffff;
}
.flight-item{
    float: left;
    width:26%;
}

h1{
    font-size: 10;
}
.mark{
    font-size: 50;
}
.flight-items{
    color:#ffffff;
}