div{
    color:#006564;
}
span{
    color: black
}
button{
    background: #006564 !important;
    padding: 7px;
    font-size: 1em !important;
    color: white;
    border-radius: 3px !important;
    border: none;
    width: 117px !important;
    margin-left:0.8em;
}
button:hover{
    background:gray;
}
.flight-item{
    float: left;
    width:26%;
}

h1{
    color:#006564;
    margin-left:0.5em;
}
.mark{
    font-size: 50;
}
.flight-items{
    color:#ffffff;
}
img{
    width:140px;
    height:140px;
}