<mat-toolbar class="shadowbar" color="secondary">
  <span>学员管理 > 数据统计 <button mat-raised-button routerLink="/student">成绩列表</button></span>
</mat-toolbar>

<mat-card style="width:100%;">
  <mat-card-header>
    <mat-card-title>得分情况</mat-card-title>
    <mat-card-subtitle>总人数 {{students.length}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div id="studentBar" style="height:700px" (window:resize)="showBar()"></div>
  </mat-card-content>
</mat-card>

<mat-card style="width:100%;">
<mat-card-content>
<mat-tab-group>
  <mat-tab label="概况统计">
      <mat-card style="width:100%;padding:7px;">
        <mat-card-header>
          <mat-card-title>培训概况统计</mat-card-title>
          <mat-card-subtitle>总人数 {{students.length}}</mat-card-subtitle>
        </mat-card-header>
        </mat-card>
  </mat-tab>
  <mat-tab label="Day 1 >= 80">
      <mat-card style="width:100%;padding:7px;">
        <mat-card-header>
            <mat-card-title>Day 1 >= 80</mat-card-title>
            <mat-card-subtitle *ngFor="let p of getGood('exam1')">{{p.name}} {{p.exam1}}</mat-card-subtitle>
        </mat-card-header>
        </mat-card>
  </mat-tab>
  <mat-tab label="Day 1 >= 80">
      <mat-card style="width:100%;padding:7px;">
        <mat-card-header>
            <mat-card-title>Day 1 >= 80</mat-card-title>
            <mat-card-subtitle *ngFor="let p of getGood('exam1')">{{p.name}} {{p.exam1}}</mat-card-subtitle>
        </mat-card-header>
        </mat-card>
  </mat-tab>
  <mat-tab label="Day 2 >= 80">
      <mat-card style="width:100%;padding:7px;">
        <mat-card-header>
            <mat-card-title>Day 2 >= 80</mat-card-title>
            <mat-card-subtitle *ngFor="let p of getGood('exam2')">{{p.name}} {{p.exam2}}</mat-card-subtitle>
        </mat-card-header>
        </mat-card>
  </mat-tab>
    <mat-tab label="Day 3 >= 80">
      <mat-card style="width:100%;padding:7px;">
        <mat-card-header>
            <mat-card-title>Day 3 >= 80</mat-card-title>
            <mat-card-subtitle *ngFor="let p of getGood('exam3')">{{p.name}} {{p.exam3}}</mat-card-subtitle>
        </mat-card-header>
        </mat-card>
  </mat-tab>
    <mat-tab label="Day 4 >= 80">
      <mat-card style="width:100%;padding:7px;">
        <mat-card-header>
            <mat-card-title>Day 4 >= 80</mat-card-title>
            <mat-card-subtitle *ngFor="let p of getGood('exam4')">{{p.name}} {{p.exam4}}</mat-card-subtitle>
        </mat-card-header>
        </mat-card>
  </mat-tab>
</mat-tab-group>
</mat-card-content>
</mat-card>


<mat-card style="width:100%;">
  <mat-card-header>
    <mat-card-title>分布区域</mat-card-title>
    <mat-card-subtitle>区域 3</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div id="studentPie" style="height:500px" (window:resize)="showPie()"></div>
  </mat-card-content>
</mat-card>
