.assetContent{
    margin: 0px 10px;
}
h1{margin-left: 10px;}
table{width:100%;background-color: #f9f5f5;}
button {float: left;}
p button {float: right;}
table{margin-bottom: 10px;}
thead tr{font-weight: bold;}
td,th{border:1px solid rgba(198, 183, 183, 0.75);padding: 10px;}
.center{text-align: center;}
th{background-color: #00bcd4;text-align: center;}
td{text-align: center;}
table img{width: 80px;height: 80px;}
md-icon{cursor: pointer;margin: 0px 5px}
.mat-menu-item{background-color:#fbfbfb;}
.mat-menu-item:hover{
    background-color: #dedbdb;
    }
    .example-button-row {
        display: flex;
        align-items: center;
        justify-content: space-around;
      }
      md-card{
          margin: 10px ;
      }