<h1>我的衣帽间</h1>
<div>
    <p>
        <button (click)="random()">价格随机</button>
        <button (click)="priceDesc()">价格倒序</button>
        <button (click)="priceAsc()">价格正序</button>
    </p>

    <table cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <th>编号</th>
                <th>宝贝名称</th>
                <th>类别</th>
                <th>品牌</th>
                <th>价格</th>
                <th>入手时间</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let asset of assets">
                <td class="center">{{asset.no}}</td>
                <td>{{asset.name}}</td>
                <td class="center">{{asset.classification}}</td>
                <td class="center">{{asset.brand}}</td>
                <td class="center">{{asset.price}}</td>
                <td class="center">{{asset.addTime}}</td>
                <td class="center">{{asset.status}}</td>
                <td><a>修改</a> <a>查看</a></td>
            </tr>
        </tbody>
    </table>
</div>