<div>
    <h1>我的衣帽间</h1>
    <div class="assetContent">

        <nav md-tab-nav-bar>
            <a md-tab-link active="true">
                    宝贝列表
                    </a>
            <a md-tab-link routerLink="analysis">
                    统计分析
                 </a>
        </nav>
        <div class="tabMenu">

            <div class="md-table-controls">
                <md-select placeholder="搜索范围" [(ngModel)]="searchType" name="searchType">
                    <md-option value="name">名称</md-option>
                    <md-option value="classification">分类</md-option>
                </md-select>
                <md-input-container>
                    <input [(ngModel)]="searchText" mdInput placeholder="请输入要搜索的内容">
                </md-input-container>
                <button style="float:right;" color="light" md-mini-fab (click)="refresh()"><md-icon>sync</md-icon></button>
                <button style="float:right;" color="light" md-mini-fab (click)="search(searchType,searchText)"><md-icon>search</md-icon></button>

            </div>

            <!-- <a md-raised-button routerLink="edit/new">新增宝贝</a> -->
            <button class="addBtn" md-raised-button (click)=showEditAssetDailog()><md-icon>add</md-icon>
                新增宝贝</button>
            <button class="sortBtn" md-raised-button [mdMenuTriggerFor]="menu">
                            <md-icon>more_vert</md-icon>排序方式
                          </button>
            <md-menu #menu="mdMenu">
                <button md-menu-item class="md-menu-item" (click)="priceAsc()">
                              <span>价格正序</span>
                            </button>
                <button md-menu-item (click)="priceDesc()">
                              <span>价格倒序</span>
                            </button>
                <button md-menu-item (click)="random()">
                              <span>价格随机</span>
                            </button>
            </md-menu>
        </div>

        <table cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th>编号</th>
                    <th>宝贝图片</th>
                    <th>宝贝名称</th>
                    <th>类别</th>
                    <th>品牌</th>
                    <th>价格</th>
                    <th>入手时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let asset of assets">
                    <td>{{asset.no}}</td>
                    <td><img src="{{asset.img}}" /></td>
                    <td>{{asset.name}}</td>
                    <td>{{asset.classification}}</td>
                    <td>{{asset.brand}}</td>
                    <td>{{asset.price | assetCurrency:"cn"}}</td>
                    <td><span *ngIf="asset.addTime">{{asset.addTime.iso | date:"y-MM-dd"}}</span></td>
                    <td>
                        <md-icon title="修改" (click)=showEditAssetDailog(asset)>edit</md-icon>
                        <!-- <md-icon title="修改" routerLink="edit/{{asset.objectId}}">edit</md-icon> -->
                        <md-icon title="查看" routerLink="view/{{asset.objectId}}">menu</md-icon>
                        <md-icon title="删除" (click)="deleteById(asset.objectId)">delete</md-icon>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>