div{width:90%; }
table{width:100%;background-color: #f9f5f5;}
p button {float: right;margin-bottom: 10px;height: 30px;width: 70px;}
table{margin-bottom: 10px;}
thead tr{font-weight: bold;}
td,th{border:1px solid rgba(198, 183, 183, 0.75);padding: 10px;}
.center{text-align: center;}
th{background-color: #00bcd4;}
td a{margin: 0px 5px;}