<h1>我的衣帽间</h1>
<div>

    <button routerLink="edit/new">新增宝贝</button>
    <p>
        <button (click)="random()">价格随机</button>
        <button (click)="priceDesc()">价格倒序</button>
        <button (click)="priceAsc()">价格正序</button>
    </p>

    <table cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <th>编号</th>
                <th>宝贝图片</th>
                <th>宝贝名称</th>
                <th>类别</th>
                <th>品牌</th>
                <th>价格</th>
                <th>入手时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let asset of assets">
                <td>{{asset.no}}</td>
                <td><img src="{{asset.img}}"/></td>
                <td>{{asset.name}}</td>
                <td>{{asset.classification}}</td>
                <td>{{asset.brand}}</td>
                <td>{{asset.price}}</td>
                <td>{{asset.addTime | date:"y-MM-dd"}}</td>
                <td><a routerLink="edit/{{asset.no}}">修改</a> <a routerLink="view">查看</a></td>
            </tr>
        </tbody>
    </table>
</div>