md-toolbar{width: 600px;}
md-card-actions button{float: right;margin-right: 10px;}
md-input-container,md-select{margin: 10px 0px;width: 100%;}
md-card-actions div{height: 40px;margin-bottom: 10px;}
.example-card{margin-left: 3px;width: 99%;}