<mat-toolbar color="light">
  <span>{{isNew?"新增":"编辑["+obj.name+"]"}}</span>
  <span class="toolbar-spacer"></span>
  <button mat-raised-button (click)="close()">返回</button>
</mat-toolbar>
<mat-card class="example-card">
  <mat-card-content>
    <mat-input-container class="example-full-width">
      <input mdInput placeholder="名称" value="{{obj.name}}" [(ngModel)]="obj.name">
    </mat-input-container>
    <br/>
    <mat-select [(ngModel)]="obj.classification" placeholder="分类">
      <mat-option [value]="'上衣'">
        上衣
      </mat-option>
      <mat-option [value]="'裙装'">
        裙装
      </mat-option>
      <mat-option [value]="'裤装'">
        裤装
      </mat-option>
      <mat-option [value]="'鞋靴'">
        鞋靴
      </mat-option>
      <mat-option [value]="'围巾'">
        围巾
      </mat-option>
      <mat-option [value]="'包包'">
        包包
      </mat-option>
      <mat-option [value]="'未知'">
        未知
      </mat-option>
    </mat-select><br/>
    <mat-input-container class="example-full-width">
      <input mdInput placeholder="品牌" value="{{obj.brand}}" [(ngModel)]="obj.brand">
    </mat-input-container><br/>
    <mat-input-container>
      <input mdInput type="date" [(ngModel)]="obj.addTime" mdInput placeholder="入手日期" value="{{obj.addTime}}">
    </mat-input-container>
    <br/>
    <mat-input-container class="example-full-width">
      <input mdInput type="number" placeholder="价格" value="{{obj.price}}" [(ngModel)]="obj.price" >
    </mat-input-container><br/>
  </mat-card-content>
  <mat-card-actions>
    <div><button mat-raised-button (click)=close()>取消</button>
      <button mat-raised-button (click)=saveAsset()>提交</button></div>
  </mat-card-actions>
</mat-card>