mat-toolbar{width: 600px;}
mat-card-actions button{float: right;margin-right: 10px;}
mat-input-container,mat-select{margin: 10px 0px;width: 100%;}
mat-card-actions div{height: 40px;margin-bottom: 10px;}
.example-card{margin-left: 3px;width: 99%;}