.example-card {
  width: 300px;
  float:left;
  margin:10px;
  background: #9e9e9e;
  color: #FFF;
}

.example-header-image {
  background-image: url('../../../assets/img/pmj/pmj.jpg');
  background-size: cover;
}