<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Brand: {{brand.name}}</mat-card-title>
    <mat-card-subtitle>TaegetAudience: {{brand.taegetAudience}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/img/examples/shiba2.jpg">
  <mat-card-content>
    <p>
      ConsumerAccount is {{brand.consumerAccount}}<br />
      CampaignAccount is {{brand.campaignAccount}}<br />
      TaegetAudience is {{brand.taegetAudience}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button routerLink="edit/{{brand.objectId}}">Edit</button>
    <button mat-button (click)="delete(brand)">Del</button>
  </mat-card-actions>
</mat-card>