.movie-item{
    float: left;
    width:30%;
    height:30%;
}
div{
    color:burlywood;
}
span{
    color: black
}
button{

    background-color:bisque
}
.movie-item{
    float: left;
    width:30%;
}

h1{
    font-size: 10;
}

p{

    float: left;
}

.mark{
    float: right;
    font-size: 50;
}