.movie-item{
    float: left;
    width:30%;
    height:30%;
    font-size: 10;
}
div{
    color:burlywood;
}
span{
    font-size: 10;
    color: black;
}
button{

    background-color:bisque
}
.movie-item{
    float: left;
    width:30%;
}

h1{
    font-size: 10;
}

p{
    width: 80%;
    float: left;
}
.mark{
    color: red;
    font-size: 100;
}

