#a{
    color:purple;
    margin-left: 150px;
    float: left;
    margin-right: 24px;
    width: 397px;
}

#b{
    color:black;
}



#bt1,#bt2,#bt3{
    width: 80px;
    height: 30px;
   

}

#bt4{
     margin-left: 150px;
     margin-top: 80px;
}


table{
    margin-left: 150px;
    margin-top: 60px;
}

#h1{
    width:100px;
}

#h2{
    width:150px;
}

#h3{
    width:120px;
}

#h4{
    width:120px;
}

#h5{
    width:100px;
}

#h6{
    width:80px;
}

th{background-color: #0099cc;}