



#bt4{
     margin-left: 50px;
   margin-top: 30px;
   
}


table{
    margin-left: 50px;
    margin-top: 40px;
    font-size:16px;
    border-spacing: 0;
    width: 100%;
   
}

td, th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}


th {
    padding-top: 11px;
    padding-bottom: 11px;
    background-color: #0099cc;
    color: white;
}

#t{
    height: 50px;

}

#h1{
    width:100px;
}

#h2{
    width:150px;
}

#h3{
    width:120px;
}

#h4{
    width:120px;
}

#h5{
    width:60px;
}

#h6{
    width:60px;
}

#h7{
    width:80px;
}

#h8{
    width:150px;
}