<mat-card class="example-card" style="background-color: #bbdefb">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title style="font-size:22px">Brand Spec</mat-card-title>
    <br />
    <br />
    <mat-card-subtitle style="margin-left:18px">Brand Name: {{object.name}}</mat-card-subtitle>
    <mat-card-subtitle style="margin-left:18px">Consumer Account: {{object.consumerAccount}}</mat-card-subtitle>
    <mat-card-subtitle style="margin-left:18px">Campaign Account: {{object.campaignAccount}}</mat-card-subtitle>
    <mat-card-subtitle style="margin-left:18px">Taeget Audience: {{object.taegetAudience}}</mat-card-subtitle>
    <mat-card-subtitle style="margin-left:18px">Average Prize: {{object.averagePrize}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      <mat-input-container>
        <input [(ngModel)]="object.name" mdInput placeholder="Brand Name" value="">
      </mat-input-container>

      <mat-input-container>
        <input [(ngModel)]="object.consumerAccount" mdInput placeholder="Consumer Account" value="">
      </mat-input-container>

      <mat-input-container>
        <input [(ngModel)]="object.campaignAccount" mdInput placeholder="Campaign Account" value="">
      </mat-input-container>

      <mat-input-container>
        <input [(ngModel)]="object.taegetAudience" mdInput placeholder="Taeget Audience" value="">
      </mat-input-container>

      <mat-input-container>
        <input [(ngModel)]="object.averagePrize" mdInput placeholder="Average Prize" value="">
      </mat-input-container>
    </p>
  </mat-card-content>
  <mat-card-actions>
    <!--<button mat-button routerLink="/pmj">Cancel</button>
    <button mat-button (click)="save()">Confirm</button>-->
    <div style="float:right">
      <button mat-mini-fab (click)="save()"><mat-icon>check</mat-icon></button>
      <button mat-mini-fab routerLink="/pmj" style="margin-left:5px"><mat-icon>close</mat-icon></button>
    </div>
    <!--<button style="float:right" appPmjButton (click)="back()">Back</button>-->
    <button mat-mini-fab (click)="back()"><mat-icon>chevron_left</mat-icon></button>
  </mat-card-actions>
</mat-card>