.example-card {
    margin-top:10px;
    width: 100%;
}
.mat-card-subtitle{
  color:#4c4c4c;
}
.item-edit{
  img{
    width: 60px;
    height: 60px;
    border-radius: 6px;
    float: left;
  }
}
  .mat-card-actions{
     button{
      margin-left: 1em;
      margin-bottom: 1em;
      color: #ffffff;
      background: #006465;
      font-size: 0.875em;
      border-radius: 3px !important;
      border: none;
      height: 32px;
      width: 20px;
     }
  }
  .mat-raised-button{
    color: #ffffff;
    background: #006465;
    font-size: 0.875em;
    border-radius: 3px !important;
    border: none;
    height: 32px;
    width: 20px;
  }