.example-card {
    margin-top:10px;
    width: 100%;
}
.item-edit{
  img{
    width: 30px;
    height: 30px;
    border-radius: 6px;
    float: left;
  }
}
  button{
    background: #006564 !important;
    font-size: 0.875em !important;
    color: white;
    border-radius: 3px !important;
    border: none;
    height: 32px;
    width: 20px;
  }
  .mat-card-actions{
    float: right;
    margin-top: -79px;
    margin-right: 2em;
  }