<button md-raised-button (click)="back()">Back</button>

<md-card class="example-card">
  <div class="item-edit" *ngIf="object.img"><img src="./assets/img/flight/{{object.img}}.jpg"/></div>
  <md-card-header>
    <md-card-title >Origin:{{object.from}}</md-card-title>
    <md-card-subtitle>Destination：{{object.to}}</md-card-subtitle>
    <md-card-subtitle>Price:{{object.price}}</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <p>
<md-input-container>
  <input [(ngModel)]="object.from" mdInput placeholder="From" value="">
</md-input-container>

<md-input-container>
  <input [(ngModel)]="object.to" mdInput placeholder="Destination" value="">
</md-input-container>

<md-select [(ngModel)]="object.fareClass" placeholder="FareClass">
  <md-option [value]="'Economy'">
    Economy
  </md-option>
  <md-option [value]="'Business'">
    Business
  </md-option>
</md-select>
<md-input-container>
  <input [(ngModel)]="object.price" mdInput placeholder="Price" value="">
</md-input-container>
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-button (click)="cacel()">Cancel</button>
    <button md-button (click)="save()">Save</button>
  </md-card-actions>
</md-card>