<button md-raised-button (click)="back()">返回</button>

<md-card class="example-card">
  <div class="item-edit"><img src={{object.image}}/></div>
  <md-card-header>
    <md-card-title>Origin:{{object.from}}</md-card-title>
    <md-card-subtitle>Destination：{{object.to}}</md-card-subtitle>
    <md-card-subtitle>Price:{{object.price}}</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <p>
<md-input-container>
  <input [(ngModel)]="object.from" mdInput placeholder="Origin" value="">
</md-input-container>

<md-input-container>
  <input [(ngModel)]="object.to" mdInput placeholder="Destination" value="">
</md-input-container>

<md-select [(ngModel)]="object.price" placeholder="Price">
  <md-option [value]="'1200'">
    1200-1400
  </md-option>
  <md-option [value]="'900'">
    900-1000
  </md-option>
  <md-option [value]="'560'">
    560-900
  </md-option>
</md-select>

    </p>
  </md-card-content>
  <md-card-actions>
    <button md-button routerLink="/airline">取消</button>
    <button md-button (click)="save()">保存</button>
  </md-card-actions>
</md-card>