
<app-zs-button [title]= "'按进球数排序'" (click)="goalSort()"></app-zs-button>
<app-zs-button [title]= "'按助攻数排序'" (click)="assistSort()"></app-zs-button>
<app-zs-button [title]= "'随机'" (click)="random()"></app-zs-button>
<app-zs-button [title]= "'增加球员'" >按进球数排序</app-zs-button>
<app-zs-button [title]= "'编辑'" (click)="random()"></app-zs-button>


<div id="datacenter">
    <div>
        <img src="/assets/img/player-ranking/premier.jpg" width="30" height="37" alt="">
    </div>
</div>

<app-player-info [player]="player" *ngFor="let user of players"></app-player-info>


<table width="100%">
  <tbody>
      <tr>
        <th align="left">球员名字</th>
        <th align="left">所属球队</th>
        <th align="left">进球数</th>
        <th align="left">助攻数</th>
        <th align="left">参赛时间</th>
      </tr>
        <tr *ngFor="let player of players">
            <td width="20%">{{player.name}}</td>
            <td width="20%">{{player.team}}</td>
            <td width="20%">{{player.goal}}</td>
            <td width="20%">{{player.assist}}</td>
            <td width="20%">{{player.palyerMinutes}}</td>
        </tr>
  
  </tbody>
</table>
