
<app-zs-button [title]= "'按进球数排序'" (click)="goalSort()"></app-zs-button>
<app-zs-button [title]= "'按助攻数排序'" (click)="assistSort()"></app-zs-button>
<app-zs-button [title]= "'随机排序'" (click)="random()"></app-zs-button>
<app-zs-button [title]= "'增加球员'" routerLink="edit/new">按进球数排序</app-zs-button>



<div id="datacenter">
    <div>
        <img src="/assets/img/player-ranking/premier.jpg" width="30" height="37" alt="">
    </div>
</div>

<app-player-info [player]="player" *ngFor="let player of players"></app-player-info>

