
<table >
  
        <tr>
          <td>
            <app-cir-button [name]="'添加'" routerLink="edit/new"></app-cir-button>
            <app-cir-button [name]="'升序'" (click)="doAsc()"></app-cir-button>
            <app-cir-button [name]="'降序'" (click)="doDesc()"></app-cir-button>
            <app-cir-button [name]="'随机'" (click)="sortByRadom()"></app-cir-button>
          </td>
    </table>
  <table border="1" width="100%">
    <thead>
        <tr style="background-color:#e91e63;">
            <th (click)="sortByAsc2No('1')"> 学生姓名 </th>
            <th (click)="sortByAsc2No('2')">课程名 </th>
            <th (click)="sortByAsc2No('3')">完成日期 </th>
            <th (click)="sortByAsc2No('4')">是否完成 </th>
            <th >操作 </th>
        </tr>
    </thead>
  <tbody>
  <tr *ngFor="let course of courses">
      <th align="left">{{course.stName}}</th>
      <th align="left">{{course.courseName}}</th>
      <th align="left">{{course.date}}</th>
      <th align="left">{{course.isOk | statusFinish:"en"}}</th>
      <th>
        <button appCircleButton routerLink="detail/{{course.stName}}">详细</button>
        
      <button appCircleButton (click)="doDel(course.stName)">删除</button>
      <button  appCircleButton routerLink="edit/new">添加</button>
      <button  appCircleButton routerLink="edit/{{course.stName}}">编辑</button>
    </th>
  </tr>
  </tbody>
  </table>