<h1 style="text-align: center; margin-bottom: 50px;" class="press">My Favorite NBA Players</h1>

<div style="margin-bottom: 20px; padding-left: 135px;">
  <span class="press">Sort By Ability Score</span>
  <button mat-raised-button (click)="sortList('up')">ASC</button>
  <button mat-raised-button (click)="sortList('down')">DESC</button>
  <button mat-raised-button (click)="sortList('random')">Randomly</button>
  <button mat-raised-button routerLink="edit/new">Create New Player</button>
</div>

<div>
  <table class="table3">
    <thead>
      <tr>
        <th></th>
        <th scope="col" abbr="Starter">Ability Score</th>
        <th scope="col" abbr="Medium">Salary</th>
        <th scope="col" abbr="Business">Edit Operation</th>
        <th scope="col" abbr="Deluxe">Delete Operation</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let player of players">
        <th scope="row">{{player.name}}</th>
        <td>{{player.abilityScore}}</td>
        <td appCurrencyHighlight>{{player.salary | currencyFormat}}</td>
        <td><button mat-raised-button routerLink="edit/{{player.index}}">Edit</button></td>
        <td><button mat-icon-button (click)="delete(player)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>
