<div class="example-container mat-elevation-z8">
  <div class="example-header">
    <mat-input-container floatPlaceholder="never">
      <input mdInput #filter placeholder="Filter devices">
    </mat-input-container>
  </div>

  <mat-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
    <!-- DeviceId Column -->
    <ng-container cdkColumnDef="deviceId">
      <mat-header-cell *cdkHeaderCellDef> DeviceId </mat-header-cell>
      <mat-cell *cdkCellDef="let row"> {{row.deviceId}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container cdkColumnDef="name">
      <mat-header-cell *cdkHeaderCellDef> Name </mat-header-cell>
      <mat-cell *cdkCellDef="let row"> {{row.name}} </mat-cell>
    </ng-container>

    <!-- Type Column -->
    <ng-container cdkColumnDef="type">
      <mat-header-cell *cdkHeaderCellDef> Type </mat-header-cell>
      <mat-cell *cdkCellDef="let row"> {{row.type}} </mat-cell>
    </ng-container>

    <!-- Factory Column -->
    <ng-container cdkColumnDef="factory">
      <mat-header-cell *cdkHeaderCellDef> Factory </mat-header-cell>
      <mat-cell *cdkCellDef="let row" > {{row.factory}} </mat-cell>
    </ng-container>

    <!-- Price Column -->
    <ng-container cdkColumnDef="price">
      <mat-header-cell *cdkHeaderCellDef> Price </mat-header-cell>
      <mat-cell *cdkCellDef="let row" > {{row.price}} </mat-cell>
    </ng-container>

    <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>

   
  </mat-table>
</div>