<h1>明星讲师名单列表</h1>
<div>
        <button (click)="asc()">按评分从低到高</button>
        <button class="button1" (click)="desc()">按评分从高到低</button>
        <button class="button2" (click)="random()">默认</button>
</div>

<table class="gridtable">
<tr>
<th>序号</th>
<th>讲师姓名</th>
<th>讲师编号</th>
<th>讲师评分</th>
<th>所授课程</th>
</tr>
<tr *ngFor="let trainer of trainers">
<td>{{trainer.index}}</td>
<td>{{trainer.name}}</td>
<td>{{trainer.num}}</td>
<td>{{trainer.score}}</td>
<td>{{trainer.subject}}</td>
</tr>
</table>


