<div>
<mat-progress-bar mode="indeterminate"></mat-progress-bar>
  <mat-toolbar color="primary">
    <button mat-button class='button' (click)="asc()" style='font-size:25px'>按人气从低到高</button>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon">favorite</mat-icon>
    <mat-toolbar-row>
      <button mat-button class='button' (click)="desc()" style='font-size:25px'>按人气从高到低</button>
      <span class="example-spacer"></span>
      <mat-icon class="example-icon">search</mat-icon>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <button mat-button class='button' (click)="random()" style='font-size:25px'>你猜</button>
      <span class="example-spacer"></span>
      <mat-icon class="example-icon">verified_user</mat-icon>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <span><app-diy-button [title]="'增加'" routerLink="edit/new"></app-diy-button></span>
      <span class="example-spacer"></span>
      <mat-icon class="example-icon">add</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>

<mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<br/>
<table class="gridtable">
  <tr>
    <!-- <th>序号</th> -->
    <th>讲师姓名</th>
    <th>教师编号</th>
    <th>讲师人气</th>
    <th>所授课程</th>
    <th>图片</th>
    <th>操作</th>
  </tr>
  <tr *ngFor="let trainer of list">
    <!-- <td>{{trainer.index}}</td> -->
    <td>{{trainer.name}}</td>
    <td>{{trainer.num}}</td>
    <td>{{trainer.score| toK}}</td>
    <td>{{trainer.subject}}</td>
    <th><span mdTooltip="放了也看不到，因为我没放!">鼠标放这看照片</span><mat-icon class="example-icon">search</mat-icon></th>
    <th>
      <!-- <button mat-button class = 'button' routerLink="edit/{{trainer.objectId}}">编辑</button> -->
      <mat-icon class="icon" routerLink="edit/{{trainer.objectId}}" style="cursor:pointer">edit</mat-icon>
      <!-- <app-diy-button [title]="'删除'" (click)="delete(trainer)"></app-diy-button> -->
      <mat-icon class="icon" (click)="delete(trainer)" style="cursor:pointer">delete</mat-icon>
    </th>
  </tr>
</table>
<mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>