
<h1 class="flight-items">Flight message</h1>
<div>
        <button (click)="asc()">按价格从低到高</button>
        <button class="button1" (click)="desc()">按价格从高到低</button>
        <button class="button2" (click)="random()">默认</button>
</div>

<br>

 <div class="flight-item" *ngFor="let flight of flights">
    <img src="./assets/img/flight/{{flight.from}}.jpg" width="134px" height="134px">
    <p class = "flightTitle">orgin:{{flight.from}}  <span> destination:{{flight.to}}  </span>   <span class="mark">price:{{flight.price}}</span></p>   
</div>

